{% extends 'base.html' %}

{% block body %}

<h2>Add a post to /{{ board }}</h2>

<form method="POST" enctype=multipart/form-data action="/b/{{ board }}/post">
    <div class="mb-3">
        <label for="imageupload" class="form-label">Image</label>
        <input class="file-upload" type=file name="imageupload" required>
    </div>
    
    <div class="mb-3">
        <label for="caption" class="form-label">caption</label>
        <textarea name="caption" id="caption" class="form-control" rows=3 maxlength=340 required></textarea>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Post</button>
    </div>
</form>

{% endblock %}