{% extends 'base.html' %}

{% block body %}

<div class="row justify-content-between">
    <div class="col-auto">
        <h4>{{ name }}</h4>
    </div>
</div>

<div class="row gx-2 justify-content-center">


    {% for post in posts %}
    <div class="col-md-5 bp" id="{{ post[3] }}">
        <div class="row bp-header justify-content-between">
            <div class="col-auto">
                <div class="bp-username">Posted on /{{ post[0] }}</div>
            </div>
            <div class="col-auto">
                <div class="bp-time">{{ post[1] }}</div>
            </div>
        </div>
    
        <div class="row bp-content">
            <div class="col-sm-12">
                <img class="bp-img" src="/static/uploads/{{ post[4] }}">
            </div>
            <div class="col-12">
                <p class="bp-text">{{ post[2] }}</p>
            </div>
        </div>

        <div class="row bp-footer justify-content-between">
            <div class="col-auto" style="display: none;">
                <span class="btn-group bp-vote" role="group">
                    <input type="radio" class="radio-item" name="vote" id="upvote" disabled>
                    <label class="label-item" for="upvote">
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                    </label>
                </span>
                <span class="bp-votecount">0</span>
                <span class="btn-group bp-vote" role="group">
                    <input type="radio" class="radio-item" name="vote" id="downvote" disabled>
                    <label class="label-item" for="downvote">
                        <i class="bi bi-hand-thumbs-down-fill"></i>
                    </label>
                </span>
                <span class="bp-votecount">0</span>
            </div>
            <div class="col-auto">
                <span class="bp-votecount"><i>Ratings are coming soon!</i></span>
            </div>
        </div>
    </div>
    {% endfor %}


</div>

{% endblock %}